.0

.form{
    margin-left: 50px;
    margin-top: 10rem;
    width: 70%;
    
    
}
h3{
    padding: 4px;
    font-size: 23px
}

.thisImage{
    max-width: 50%;
   margin-left: 45rem;
    padding-right: 0;
    margin-top: -19rem;
}

.Submitbtn{
    color: purple;
    padding: 8px 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    cursor: pointer;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
  }
.emailBox{
    width: 70%;
}
.form-group{
    width: 50%;
    width: 70%;
    font-size: 25px;
}
.form-control{
    font-size: 19px;
}
.img{
    width: 30%;
    margin-left: 30rem;
    
    margin-top: 10rem;
  
    
}
@media screen and (max-width: 991px) {
    input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
      }
      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
      }
      .form-group{
        width: 100%;
      
        font-size: 30px;
    }

    .thisImage{
        max-width: 50%;
       margin-left: 6rem;
      
        padding-right: 0;
        margin-top: 2rem;
    }
  }
  